* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Gentium Plus", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(157, 157, 157), rgb(255, 166, 0));
}
.head{
    font-size: 35px;
}

.timeContainer{
    margin-bottom: 150px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeBlock{
    text-align: center;
    margin-right: 15px;
}

.timeBlock:last-child{
    margin-right: 0;
}

.time{
    height: 150px;
    width: 150px;
    font-size: 100px;
    
}
.timeName{
    font-size: 25px;
}

input{
    background: none;
    border: none;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
#day{
    width: 35px;
    margin-left: 10px;
}

#year{
    width: 47px;
}
/*убираю стрелки из инпута*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.start{
    background: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
    width: 50px;
    margin-left: 30px;
}









