* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Gentium Plus", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(157, 157, 157), rgb(255, 166, 0));
}
.head{
    font-size: 35px;
}

.timeContainer{
    margin-bottom: 150px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timeBlock{
    text-align: center;
    margin-right: 15px;
}

.timeBlock:last-child{
    margin-right: 0;
}

.time{
    height: 150px;
    width: 150px;
    font-size: 100px;
    
}
.timeName{
    font-size: 25px;
}









